<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="newsletter-box">

        <h5 class="uppercase">SUBSCRIBE TO RECEIVE OUR UPDATES</h5>

        <form lpformnum="2" action="https://themeflexible.us8.list-manage.com/subscribe/post?u=cfa3d6ad7132278aebd4c2ccb&amp;id=407d636064"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
          <input type="email" class="newsletter-input" placeholder="Your email" value="" name="EMAIL" aria-label="translation missing: en.general.newsletter_form.newsletter_email">
          <input type="submit" class="newsletter-submit btn btn-md btn-dark" value="subscribe">
        </form>
      </div>
    </div>
  </div>
</div>
