<div id="shopify-section-footer" class="shopify-section">
  <footer class="footer footer-type-1 bg-white">

    <div class="container">
      <div class="footer-widgets top-divider pb-mdm-20">
        <div class="row">


          <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
            <div class="widget footer-links">
              <h5 class="widget-title uppercase">Information</h5>
              <ul class="list-no-dividers">

                <li><a href="index.html">Our stores</a></li>

                <li><a href="index.html">About us</a></li>

                <li><a href="index.html">Business with us</a></li>

                <li><a href="index.html">Delivery information</a></li>

                <li><a href="index.html">Terms & Conditions</a></li>

              </ul>
            </div>
          </div>


          <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
            <div class="widget footer-links">
              <h5 class="widget-title uppercase">HELP</h5>
              <ul class="list-no-dividers">

                <li><a href="index.html">Contact us</a></li>

                <li><a href="index.html">Track order</a></li>

                <li><a href="index.html">F.A.Q</a></li>

                <li><a href="index.html">Privacy policy</a></li>

                <li><a href="index.html">Returns</a></li>

              </ul>
            </div>
          </div>


          <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
            <div class="widget footer-links">
              <h5 class="widget-title uppercase">ACCOUNT</h5>
              <ul class="list-no-dividers">

                <li><a href="account/login.html">My account</a></li>

                <li><a href="index.html">Wishlist</a></li>

                <li><a href="index.html">Order history</a></li>

                <li><a href="index.html">Special gifts</a></li>

                <li><a href="index.html">Track order</a></li>

              </ul>
            </div>
          </div>


          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">

              <h5 class="widget-title uppercase">About Us</h5>


              <div class="mb-0"><p>A-ha Shop is a very slick and clean e-commerce template with endless possibilities.
                Creating an awesome clothes store with this Theme is easy than you can imagine.</p></div>

            </div>
          </div>


          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget footer-get-in-touch">

              <h5 class="widget-title uppercase">Contact</h5>


              <address class="footer-address"><span>Address:</span> Philippines, PO Box 620067, Talay st. 66, A-ha inc.
              </address>


              <p>Phone: <a href="tel:+ 1-888-1554-456-123">+ 1-888-1554-456-123</a></p>


              <p>Email: <a href="mailto:support@bootpify.com">support@bootpify.com</a></p>


              <div class="social-icons rounded mt-20">
                <a target="_blank" href="https://twitter.com/shopify"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="https://www.facebook.com/shopify"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="https://plus.google.com/shopify"><i class="fa fa-google-plus"></i></a>
                <a target="_blank" href="https://www.linkedin.com/shopify"><i class="fa fa-linkedin"></i></a>
                <a target="_blank" href="https://vimeo.com/shopify"><i class="fa fa-vimeo"></i></a>
              </div>

            </div>
          </div> <!-- end stay in touch -->


        </div>
      </div>
    </div> <!-- end container -->


    <div class="bottom-footer bg-white">
      <div class="container">
        <div class="footer-copyright top-divider">
          <div class="row">
            <div class="col-sm-4 copyright sm-text-center">
              <span>© 2017 Aha Shop, Made with love by <a target="_blank"
                                                          href="https://support.bootpify.com">Bootpify</a></span>
            </div>

            <div class="col-sm-4 text-center">
              <div id="back-to-top" class="show">
                <a href="#top">
                  <i class="fa fa-angle-up"></i>
                </a>
              </div>
            </div>

            <div class="col-sm-4 col-xs-12 footer-payment-systems text-right sm-text-center mt-sml-10">
              <i class="fa fa-cc-paypal"></i>
              <i class="fa fa-cc-visa"></i>
              <i class="fa fa-cc-mastercard"></i>
              <i class="fa fa-cc-discover"></i>
              <i class="fa fa-cc-amex"></i>
            </div>

          </div>
        </div>
      </div>
    </div> <!-- end bottom footer -->

  </footer>

</div>
