<div class="row newsletter-popup remodal" id="newsletter-popup" data-remodal-id="newsletter"
     data-remodal-options="hashTracking: false"
     style="background: #ececea url('https://cdn.shopify.com/s/files/1/1820/4343/files/parallax-4-min_grande.jpg?v=1532099355') no-repeat center center; background-size:cover;">

  <div class="col-sm-6 this-form-area np_right">
    <h4 class="this-title">NEWSLETTER</h4>
    <div class="this-msg"><p><em>Sign up to receive the coupon 10% off for your first purchase via email and get
      informations.</em></p></div>
    <form action="" method="post" class="row newsletter-form validate" id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <div class="input-group">
        <input type="email" class="form-control" placeholder="Your Email...">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      </div>
      <div class="row m0 text-center"><input type="submit" value="Subscribe" class="btn btn-default"></div>
    </form>
    <form action="#" class="notshow-form">
      <input type="checkbox" name="not-show" id="not-show" class="sr-only">
      <label for="not-show">Do not show it anymore</label>
    </form>
  </div>
  <button type="button" class="remodal-close close" data-remodal-action="close" data-dismiss="alert" aria-label="Close">
    <i class="fa fa-times-circle"></i></button>
</div>
