<div id="shopify-section-1492739287024" class="shopify-section">
  <div class="icon_boxed">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-50">
          <div class="service-item-box style-2">
            <div class="icon-holder">
              <i class="fa fa-usd"></i>
            </div>
            <div class="service-text">
              <h3>Money Back</h3>
              <p>60 Days Money Back</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-50">
          <div class="service-item-box style-2">
            <div class="icon-holder">
              <i class="fa fa-envelope-o"></i>
            </div>
            <div class="service-text">
              <h3>FAST DELIVERY</h3>
              <p>Less than 5 days</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 mb-50">
          <div class="service-item-box style-2">
            <div class="icon-holder">
              <i class="fa fa-life-ring"></i>
            </div>
            <div class="service-text">
              <h3>CUSTOMERS SUPPORT</h3>
              <p>24/7 Online Consultation</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-50">
          <div class="service-item-box style-2">
            <div class="icon-holder">
              <i class="fa fa-globe"></i>
            </div>
            <div class="service-text">
              <h3>FREE SHIPPING</h3>
              <p>Free Shipping Above $100</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
