<div id="shopify-section-header" class="shopify-section">
  <header class="nav-type-1">
    <!--<app-saleup-notification></app-saleup-notification>-->
    <div class="top-bar hidden-sm hidden-xs">
      <div class="container">
        <div class="top-bar-line">
          <div class="row">
            <div class="top-bar-links">
              <ul class="col-sm-6 top-bar-acc">

                <li class="top-bar-link"><a routerLink="login" href="account/login.html">My Account</a></li>

                <li class="top-bar-link"><a href="pages/wish-list.html">My Wishlist</a></li>

                <li class="top-bar-link"><a routerLink="/" href="index.html">Newsletter</a></li>

                <li class="top-bar-link"><a routerLink="login" href="account/login.html">Login</a></li>

                <li class="top-bar-link"><a href="pages/contact-us.html">Contact</a></li>


              </ul>

              <ul class="col-sm-6 text-right top-bar-currency-language">

                <li>
                  Currency:
                  <select id="currencies" name="currencies">
                    <option selected value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="GBP">GBP</option>
                  </select>
                </li>
                <li>
                  <div class="social-icons">
                    <a target="_blank" href="https://twitter.com/shopify"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="https://www.facebook.com/shopify"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="https://plus.google.com/shopify"><i class="fa fa-google-plus"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/shopify"><i class="fa fa-linkedin"></i></a>
                    <a target="_blank" href="https://vimeo.com/shopify"><i class="fa fa-vimeo"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
